[Unit]
Description=Run watchlog script every 30 second
Wants=watchlog.service

[Timer]
#Run every 30 second
#OnActiveSec=2min
OnUnitActiveSec=30
Unit=watchlog.service

[Install]
WantedBy=multi-user.target
